.add-service form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.add-service form input,
textarea {
  margin: 4px;
  padding: 4px;
  width: 40%;
}
